<html>
    <head>
        <title>Create a car</title>
    </head>
    <body>
        <h1>New Car</h1>
        <form action='#' method='post'>
            Name: <input name='name' type='text'>
            <input type='submit' value="Add">
        </form>
    </body>
</html>
