<div class="row">
  <div class="col">
    <h4>Add Player</h4>
    <form (submit)="onSubmit($event)" #form="ngForm">
      <div class="form-group">
        <label for="name">Player Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="name" #playerName="ngModel" minlength="3" required>
        <div class="alert alert-danger" *ngIf="playerName.dirty && !playerName.valid">Player name must be longer than 2 characters</div>
      </div>
      <div class="form-group">
        <label for="position">Preferred Position</label>
        <select class="form-control" name="position" [(ngModel)]="position" #playerPosition="ngModel" required>
          <option value=""></option>
          <option *ngFor="let position of positions" value="{{ position | lowercase }}">{{ position }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="playerPosition.dirty && !playerPosition.valid">Please choose a preferred position for the player</div>
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Add Player</button>
    </form>
  </div>
</div>
