<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Real Time Colors</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<body>
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col">
                <button color="green" class="bg-dark text-white m-1 p-5">Green</button>
                <button color="blue" class="bg-dark text-white m-1 p-5">Blue</button>
                <button color="pink" class="bg-dark text-white m-1 p-5">Pink</button>
            </div>
        </div>
    </div>
</body>
