.head {
    background-color: #ba67c9;
}

.food {
    background-color: #ce93d9;
}

.age {
    background-color: #ba67c9;
}

.spots {
    background-color: #9b29b0;
}

.details {
    padding-left: 10px;
    margin-top: 10px;
}

img { 
    width: 400px;
}
