<% if ( messages.required || messages.success ) { %>
<div class="row">
    <div class="col">
        <% if (messages.required){ %>
            <ul class="list-group">
            <% for(let message of messages.required){ %>
            <li class="list-group-item list-group-item-danger"><%= message %></li>
            <% } %>
            </ul>
        <% } %>        
        <% if (messages.success){ %>
            <ul class="list-group">
            <% for(let message of messages.success){ %>
            <li class="list-group-item list-group-item-success"><%= message %></li>
            <% } %>
            </ul>
        <% } %>       
    </div>
</div>
<% } %>
