<div class="row">
  <div class="col">
    <div class="content-wrapper border border-info p-3">
      <h1 class="text-center">Player 1</h1>
      <form (submit)="setUser($event, 1)" #form1="ngForm" *ngIf="user1.picture.length === 0">
        <div class="form-group">
          <label for="user1" class="form-label">Github Username</label>
          <input type="text" class="form-control" name="user1" [(ngModel)]="user1.name" #username1="ngModel" required>
          <div class="alert alert-danger" *ngIf="username1.dirty && !username1.valid">Player name is required.</div>
        </div>
        <button [disabled]="form1.invalid" class="btn btn-primary btn-block">Get User</button>
      </form>
      <app-gituser [user]="user1" *ngIf="user1.picture.length > 0"></app-gituser>
    </div>
  </div>
  <div class="col">
    <div class="content-wrapper border border-info p-3">
      <h1 class="text-center">Player 2</h1>
      <form (submit)="setUser($event, 2)" #form2="ngForm" *ngIf="user2.picture.length === 0">
        <div class="form-group">
          <label for="user2" class="form-label">Github Username</label>
          <input type="text" class="form-control" name="user2" [(ngModel)]="user2.name" #username2="ngModel" required>
          <div class="alert alert-danger" *ngIf="username2.dirty && !username2.valid">Player name is required.</div>
        </div>
        <button [disabled]="form2.invalid" class="btn btn-primary btn-block">Get User</button>
      </form>
      <app-gituser [user]="user2" *ngIf="user2.picture.length > 0"></app-gituser>
    </div>
  </div>
</div>
<div class="row mt-2" *ngIf="user1.picture.length > 0 && user2.picture.length > 0">
  <div class="col">
    <div class="content-wrapper">
      <button class="btn btn-block btn-warning shadow-lg" (click)="battle()">Battle!</button>
    </div>
  </div>
</div>
