<h1 class="text-primary">Bike of the Day!</h1>
<div class="row border border-dark p-3 align-items-center">
  <div class="col">
    <img src="assests/images/image.png">
  </div>
  <div class="col-8">
    <h2>Title</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>
  <div class="col">
    <h2>$950</h2>
    <p>Dallas Texas</p>
  </div>
</div>
