@import url('reset.css');

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.content {
    margin: 0 auto;
    width: 895px;
}

fieldset {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 5px grey;
}

h2 {
    margin-top: 10px;
}